.laptop { 
    background-image: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with the path to your image */
    background-size: cover;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.laptop-form {
    width: 80%; 
    background-color: rgba(212, 212, 212, 0.6);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
} 

.table {
    margin-top: 20px; 
    border-collapse: collapse;
    width: 100%; 
    display: flexbox;
} 

.table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    color: #7940b6;
  }
  
  /* Style table data cells (td) */
  .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Add alternating row colors */
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect for rows */
  .table tbody tr:hover {
    background-color: #e0e0e0;
  }

  .btn-update{
    background-color: #DE9DEC;  
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
    text-decoration: none; 
    height: 30px;
    margin-right:20px;
    position: relative; 
    left: 160px;
    font-weight: 600;
  }
  .btn-update:hover {
    background-color: #d481e7; 
  }

  .btn-delete{
    background-color: #d586b7;  
    color: white;  
    padding: 10px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px; 
    justify-content: center;
    text-align: center;
    line-height: 18px;
    width: 90px;
    height: 37px;
    position: relative; 
    left: 250px;
    font-weight: 600;
  }

  .btn-add {
    background:linear-gradient(90deg, #78beed, #a043f2);
    font-size: 16px;
    font-weight: 600;
  }
  .btn-add:hover {
    background: #4388d1;
  }
  
  
  .btn-delete:hover {
    background-color: #d06eaa; 
    
  }